*{
    margin: o;
    padding: 0;
}
html{font-size: 62,5%;
}

h2{color: rgb(163, 6, 6);
    background-color: black;
    font-size: 35px;
    font-family: "adamina", sans-serif;
    font-weight: bolder;
    text-align: center;
    background-color: black;
    border: solid 2px rgb(163, 6, 6);
    border-radius: 10px;
    margin-top: 1px;
}

h4{
    color: white;
    font-size: 35px;
}

.shelter{
    color: rgb(194, 2, 2);
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(194, 2, 2);
    font-family: "adamina", sans-serif;
    font-weight: bolder;
    background-color: rgb(24, 0, 0);
    border: solid 2px black;
    border-radius: 10px;
    font-size: 2rem;
    margin-top: -15px;
    margin-bottom: 9px;
    height: 80px;
}

.buscador{
    align-items: center;
}

.btn{ font-size: 15px;
    font-weight: bold;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: rgb(230, 229, 212);
    
}
.btn:hover{
    background-color: rgb(148, 11, 11);

}

a{
    color: black;
    text-decoration: none;
    font-family: "adamina", sans-serif;
    font-weight: bolder;
}

p{
    color:black;
    font-size: 30px;
    justify-content: center;
}

li{
    font-size: 1.85rem;
}
ul{
    color: black;
    font-family: "adamina", sans-serif;
    font-weight: bolder;

}
ol{
    color: black;
    background-color: rgb(230, 229, 212);
    height: 60px;
    background-size: 100px;
    list-style-type: none;
    /* border: solid 0.1rem black; */
    /* border-radius: 10px; */
    margin-bottom: 10px;
    align-items: center;
    font-family: "adamina", sans-serif;
    font-weight: bolder;

}
.encabezado{
    display: flex;
    flex-flow: row;
    align-items: top;
    justify-content: space-between;
}

.email{
    font-size: 12px;
    font-weight: bold;
    padding: 10px 40px;
    margin-left: -30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
}
.email:hover{
    background-color: rgb(148, 11, 11);
}
.register{
    font-size: 12px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
}
.register:hover{
    background-color: rgb(148, 11, 11);
}
.login{
    font-size: 12px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
}
.login:hover{
    background-color: rgb(148, 11, 11);
}

.container-fluid{
    color: black;
    background-color: rgb(230, 229, 212);
    background-size: 100px;
    list-style-type: none;
    padding-bottom:1px;
    margin-top: -9px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex-direction: column;
    height: 90vh;
    background-image:url("../img/m3\ y\ s3.jpeg");
    margin-top: -50px;
}

.navbar{
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
    --bs-navbar-color: black;
}
.dropdown-item{
    background-color: rgb(230, 229, 212);
}

#nuestros-servicios .servicios {
    display:flex;
    justify-content: center;
    padding: 50px;
    margin-top: -50px;

}


.carta{
    padding: 120px;
    display:inline-flex;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    height: 50px;
    margin: 20px;
    border-radius: 15px;

}
.carta:first-child{
    height: 77px;
    align-items: center;  
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/240.jpeg");
}

.carta:nth-child(2){
    display: flex;
    align-items: center;  
    height: 77px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/s3.jpeg");

}

.carta:nth-child(3){
    height: 77px;
    display: flex;
    align-items: center;  
    background-size: 100%;
    background-position: center center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/RAPTOR.jpeg");

}

.carta:nth-child(4){
    width: auto;
    display: flex;
    height: 77px;
    align-items: center;  
    background-size: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/opticas.jpg");

}
button{
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: rgb(230, 229, 212);
    
}
button:hover{
    background-color: rgb(148, 11, 11);

}


.redes{
    padding: 30px;
    padding-top: 10px;
    margin-left: 100px;
    margin-right: 50px;
    border-radius: 15px;
    justify-content: center center;
    background-size: 100%;
    background-repeat: no-repeat;

}

.copyright{
    margin-top: 40px;
}

.redes:first-child{
    background-image:url("../img/facebook.png");
}

.redes:nth-child(2){
    background-image:url("../img/instagram.png");
}

.redes:nth-child(3){
    background-image:url("../img/tik-tok.png");

}

.redes:nth-child(4){
    background-image:url("../img/youtube.png");

}

footer{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: right;
    color: red;
    font-size: 15px;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
}
    
/* fin index */

/* contactos */
.dondeestamos{
    font-size: 15px;
    color: black;
    font-family: "adamina", sans-serif;
    font-weight: bolder;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
}
.mapa{
    width: 100%;
}
fieldset{
    font-size: 15px;
    color: black;
    font-family: "adamina", sans-serif;
    font-weight: bolder;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    margin-top: 5px;
} 

.button7{
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: white;
    margin-top: 5px;
}
.button7:hover{
    background-color: rgb(167, 149, 149);
}
.button8{
    font-size: 15px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: black;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button8:hover{
    background-color: rgb(167, 149, 149);
}


/* servicios exterior */
iframe{width: 433px;}

/* otros servicios  */
.serviciosvarios{
    display:inline-flex;
    justify-content: center;
    margin-bottom: 35px;

}

#otrosservicios p{
    display: flex;
    justify-content: center; ;
    margin: -50px;
    color: white;
    padding-top: 50px;
}

.card-title{
    color: rgb(163, 6, 6);
    font-weight: bolder;
}

.h4varios{
    margin-top: -80px;
}


/* cuidado interior */

.volante{
    padding: 100px;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    border-radius: 15px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/volante.jpg");
}

.tapizado{
    padding: 100px;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    border-radius: 15px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/tapizado.png");

}

.motor{
    padding: 100px;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    border-radius: 15px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/motor.png");

}

/* productos */
